# Importing the Basic Libraries

In [2]:
import pandas as pd
from sklearn import preprocessing
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Data Preprocessing - Loading Data from CSV file

In [3]:
data = pd.read_csv("salarydata.csv")

In [4]:
#To check- columns in dataset
data.columns

Index(['age', 'workclass', 'education', 'education-num', 'marital-status',
       'occupation', 'relationship', 'race', 'sex', 'capital-gain',
       'capital-loss', 'hours-per-week', 'native-country', 'salary'],
      dtype='object')

In [5]:
# Extracting the required columns for salary prediction
fdata =  data[["age","education-num","salary"]]

In [6]:
fdata.head() # shows the first five elements in dataset

   age  education-num salary
0   39             13  <=50K
1   50             13  <=50K
2   38              9  <=50K
3   53              7  <=50K
4   28             13  <=50K

# Encoding the salary column using Label Encoder

In [7]:
label_encoder = preprocessing.LabelEncoder()

In [8]:
fdata['salary'] = label_encoder.fit_transform(fdata['salary']) # converting <=50k to 0 and >50k to 1

<ipython-input-8-9057ca224bcf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fdata['salary'] = label_encoder.fit_transform(fdata['salary']) # converting <=50k to 0 and >50k to 1

In [9]:
fdata.head() # To check encoding process

   age  education-num  salary
0   39             13       0
1   50             13       0
2   38              9       0
3   53              7       0
4   28             13       0

# Creating New Feature

In [10]:
# Using age and years for education to create new feature: Experience
fdata["Experience"] = fdata["age"] - fdata['education-num'] - 8

<ipython-input-10-a159c55bc06b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fdata["Experience"] = fdata["age"] - fdata['education-num'] - 8

In [11]:
fdata = fdata[['age', 'Experience', 'salary']] # Taking columns neccessary for prediction

In [12]:
fdata.head()

   age  Experience  salary
0   39          18       0
1   50          29       0
2   38          21       0
3   53          38       0
4   28           7       0

In [13]:
fdata.shape # gives the shape of data

(32561, 3)

In [14]:
fdata.describe()   # gives the useful information about the data

                age    Experience        salary
count  32561.000000  32561.000000  32561.000000
mean      38.581647     20.500967      0.240810
std       13.640433     13.788277      0.427581
min       17.000000     -4.000000      0.000000
25%       28.000000      9.000000      0.000000
50%       37.000000     19.000000      0.000000
75%       48.000000     29.000000      0.000000
max       90.000000     80.000000      1.000000